[user]
	name = jackopenn
	email = jackcpennington@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[http "https://git.chatgpt-team.site/"]
	version = HTTP/1.1
[credential "https://git.chatgpt-team.site"]
	provider = generic
